 .cart{
    padding:10px;
    margin:10px 10px;
    height:100px;
    border: 1px solid lightgray;
    border-radius: 10px ;
    display: flex;
    align-items: center;  

    
}
.cart img{
    width: 100px;
    height:100px;
    margin-right: 10px;
}
.btn{
    border: none;
    border-radius: 5px;
    background: lightgray;
    cursor:pointer;
    padding: 5px 20px;
    font-size:20px;
    width:90%;
    margin: 10px auto;
}

@media screen and (max-width:600px) {
    
    .cart{
        width: 80%;
        margin:10px auto; 
    }
}   